/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 {
    width: 350px;
    background: linear-gradient(
        yellow,
        rgb(255, 213, 0),
        yellow
    );
    border: 15px solid rgb(255, 225, 0);
    border-radius: 15px;
    padding: 12px;
    margin: 24px;
}

.card-style-3 img {
    width: 100%;
    border: 5px solid rgb(235, 190, 56);
    margin: 0px;
}

.card-style-3 .pokemon-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 5px;
}

.card-style-3 .pokemon-header .name {
    margin-bottom: 0px;
    margin-top: 5px;
}

.card-style-3 .details {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: linear-gradient(
        -90deg,
        rgb(235, 190, 56),
        rgb(249, 221, 10),
        rgb(235, 190, 56)
    );
    padding: 1px;
}

.card-style-3 .attack {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 24px 0px;
    align-items: center;
}

.card-style-3 .attack .bold {
    font-weight: bold;
    font-size: 18px;
}

.card-style-3 .attack .description {
    font-size: 14px;
    padding: 5px;
}

.card-style-3 .attack .power {
    font-weight: bold;
    font-size: 24px;
}

.card-style-3 .data {
    border: 2px solid rgb(235, 190, 56);
    font-size: 12px;
    margin: 8px 0px;
    padding: 2px 6px;
    /* justify-content: baseline; */
    /* align-items: baseline; */
    /* align-items: end; */
    /* justify-content: end; */
}