* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.container-1 {
    width: 60%;
    margin: 36px auto;
    padding: 48px 0px;
    text-align: center;
}

.container-1 h5 {
    color: grey;
}

.image {
    width: 300px;
}

