/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.red {
    background-color: red;
    border-color: crimson;
}

.blue {
    background-color: blue;
    border-color: darkblue;
}

.green {
    background-color: green;
    border-color: darkgreen;
    border-radius: 30% 50% 0%;
}

.purple {
    background-color: fuchsia;
    border-color: purple;
}

.gold {
    background-color: gold;
    border-color: goldenrod;
    border-radius: 50%;
}

.black {
    background-color: black;
    border-color: black;
    border-style: solid;
}