/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.red {
    background-color: red;
    border-color: crimson;
}

.blue {
    background-color: blue;
    border-color: darkblue;
}

.green {
    background-color: green;
    border-color: darkgreen;
}

.purple {
    background-color: fuchsia;
    border-color: purple;
}

.gold {
    background-color: gold;
    border-color: goldenrod;
}