/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: lightgoldenrodyellow;
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 24px;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 8px 8px #00000033;
}

#art {
    width: 180px;
    height: 180px;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: bold
}

#row1 {
    margin-right: 400px;
}

#row2 {
    margin-left: 400px;
}

.pin {
    background-color: rebeccapurple;
    width: 20px;
    border-radius: 50%;
    margin-left: 55px;
}

.dif {
    background-color: blue;
}