/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: lightgoldenrodyellow;
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 24px;
    padding: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#art {
    width: 180px;
    height: 180px;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: bold
}