* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#gallery1 {
    text-align: center;
    color: rgb(0, 97, 133);
}

.card {
    flex: 200px;
    border: 3px solid rgb(61, 202, 202);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;

    background-color: rgb(198, 255, 236);
    color: rgb(0, 97, 133);
}

.card a {
    text-decoration: none;
    color: white;
    display: block;
    border: 3px solid rgb(0, 97, 133);
    padding: 12px;
    margin-top: 36px;
    border-radius: 24px;
    background-color: rgb(0, 97, 133);
}

.card .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px); 
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s; 
}

.card:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); 
}

#gallery2 {
    text-align: center;
    color: rgb(133, 0, 102);
}

.card2 {
    flex: 200px;
    border: 3px solid rgb(147, 20, 128);
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;

    background-color: rgb(243, 198, 255);
    color: rgb(133, 0, 102);
}

.card2 a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(126, 6, 116);
}

.card2:hover a {
    background-color: rgb(126, 6, 116);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: wheat;
}

#gallery3 {
    text-align: center;
    color: orange;
}

.card3 a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;

    text-decoration: none;
    font-weight: bold;
    color: rgb(253, 0, 177);
}

.card3:hover a {
    background-color: rgb(255, 235, 212);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    padding: 12px;
    border-radius: 12px;
}

#card3 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card3 .card-front,
#card3 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card3 .card-back {
    transform: scaleX(0);
}

#card3 .card-front {
    background-image: url("../images/chikorita.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card3 .card-front {
    transition: transform 0.25s 0.25s;
}

#card3 .card-back {
    transition: transform 0.25;
}

#card3:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s; 
}

#card3:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s; 
}