div {
    border: 5px dashed #474747;
    margin: 24px 0px;
    padding: 24px 36px;
    background-color: lightgoldenrodyellow;
}

p {
    border: 20px dotted blue;
    margin: 60px;
    padding: 48px 60px;
    background-color: honeydew;
    border-radius: 50%;
    /*This is a comment*/
}